Table of any number

In [ ]:
num = 5
for i in range(1, 11):
 print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Print a list and list comprehension

In [ ]:
a = [1,2,3,4,5]
for x in range(len(a)):
 print(a[x]),
a = [1,2,3,4,5]
a.append(6)
print(a)

1
2
3
4
5
[1, 2, 3, 4, 5, 6]

Demonstrate tuples

In [ ]:
number = [2,4,6,8,10]
print(number)

[2, 4, 6, 8, 10]

String

In [ ]:
name = "sanju"
print(name)

sanju